@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
}